.card {
  position: relative;
  max-width: 100%;
  min-width: 140px;
  display: flex;
  flex-flow: row;
  /* background-color: #ecf0f1; */
  border-radius: 0.25rem;
  margin: 1rem;
  user-select: none;
  transition: 0.25s;
}
